.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: grey;
  position: absolute;
}

.page-wrapper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  overflow: hidden;
}