@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  50% {
    opacity: .5;
    transform: translateY(-15px);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 3s ease infinite;
  animation-delay: 1s;
}

@keyframes move {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(35px, 35px) rotate(6deg);

  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);

  }
}

@keyframes move2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(-35px, 45px) rotate(-32deg);

  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);

  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-35deg);
  }
  6% {
    transform: rotate(35deg);
  }
  9% {
    transform: rotate(-35deg);
  }
  12% {
    transform: rotate(35deg);
  }
  15% {
    transform: rotate(-35deg);
  }
  18% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(0deg);
  }
}

@mixin delay {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      img {
        animation-delay: #{$i}s;
      }
    }
  }
}

.ico-ring-animation {
  animation: ring 6s linear infinite;

}


.bg-rotate-animation {
  animation: rotate 39s linear infinite;

}

.bg-move-animation {
  animation: move 33s linear infinite;
}

.bg-move-animation2 {
  animation: move2 26s linear infinite;
}

.bg-move-animation3 {
  animation: move2 46s linear infinite;

}

