.btn-main{
  background-color: transparent;
  border: 2px solid $secondary;
  border-radius: 60px;
  padding: 11px 26px;
  color: $accent;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  line-height: 130%;
  font-weight: bold;
  position: relative;
  z-index: 5;

}
.btn-arrow{
  background-color: transparent;
  border: 0;
  height: 45px;
  cursor: pointer;
  position: relative;
  z-index: 9;
}
.brn-arrow__img--right{
  height: 25px;
  transform: rotate(-90deg);
}
.brn-arrow__img--left{
  height: 25px;
  transform: rotate(90deg);
}
.social {
  display: flex;
  gap: 20px;
}

