.price-page {
  background-color: $bg-light;
  padding: 55px 0 5px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.price-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  max-width: 500px;
  position: relative;
  padding: 10px 10px 0;
  max-height: 100%;
  justify-content: space-between;
  z-index: 5;
}

.price-page__title {
  text-align: center;
  color: $dark;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.1px;
  position: relative;
  z-index: 5;
  @media screen and(max-height: $smallMobileHeightBreakpoint){
    font-size: 16px;
  }
}

.price-page__description {
  flex: 0 0 auto;
  text-align: center;
  color: $dark;
  margin: 15px 0;
  position: relative;
  z-index: 5;
  @media screen and(max-height: $smallMobileHeightBreakpoint){
    display: none;
  }
}

.price {
  display: flex;
  flex-direction: column;
  color: $dark;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0 0 30px;
  position: relative;
  z-index: 5;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.price::-webkit-scrollbar {
  display: none;
}
.price__scrollbar{
  background: linear-gradient(0deg, rgba(252,245,238,0) 0%, rgba(252,245,238,0.7) 16%, rgba(223,182,164,1) 50%, rgba(252,245,238,0.7) 88%, rgba(252,245,238,0) 100%);
  border-radius:5px;
  position: absolute;
  right: 8px;
  top: 110px;
  width: 5px;
  z-index: 10;
  transform: all 1s ease;
  overflow: hidden;
  @media screen and(max-height: $smallMobileHeightBreakpoint){
    top: 40px;
  }

  .price__thumb{
    width: 5px;
    background-color: $bg-dark;
    border-radius:6px;
    height: 45px;
    position: absolute;
    top: 0%;
    z-index: 11;
  
  }
}

.price__item {
  flex: 0 0 40px;
  padding: 20px;
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price__name {
  font-size: 16px;
  flex: 0 0 80%;

  span {
    font-size: 12px;
  }
}

.price__price {
  FLEX: 0 0 20%;
  text-align: right;
}


.price__time{
  opacity: .6;
}


.price-page__bg {
  position: absolute;
  z-index: 0;
}

.price-page__bg--1 {
  top: -50px;
  left: 250px;
  animation: appear 1s ease-in .1s backwards;
}

.price-page__bg--2 {
  bottom: -200px;
  right: 0;
  animation: appear 1s ease-in .2s backwards;

}

.price-page__bg--3 {
  bottom: -50px;
  z-index: 3;
  animation: appear 1s ease-in .3s backwards;
}

.price-page__bg--4 {
  top: -50px;
  z-index: 3;
  animation: appear 1s ease-in .4s backwards;
}
