.price-page {
  background-color: $bg-light;
  padding: 55px 0 5px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.price-page__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  max-width: 500px;
  position: relative;
  padding: 10px 10px 0;
  max-height: 100%;
  justify-content: space-between;
  z-index: 5;
}

.price-page__title {
  text-align: center;
  color: $dark;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.1px;
  position: relative;
  z-index: 5;
}

.price-page__description {
  flex: 0 0 auto;
  text-align: center;
  color: $dark;
  margin: 30px 0;
  position: relative;
  z-index: 5;
}

.price {
  display: flex;
  flex-direction: column;
  color: $dark;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0 0 30px;
  position: relative;
  z-index: 5;
}

.price__item {
  flex: 0 0 40px;
  padding: 20px;
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price__name {
  font-size: 16px;
  flex: 0 0 80%;

  span {
    font-size: 12px;
  }
}

.price__price {
  FLEX: 0 0 20%;
  text-align: right;
}


.price__time{
  opacity: .6;
}
.price::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.price::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.price::-webkit-scrollbar-thumb {
  background: $bg-dark;
}

/* Handle on hover */
.price::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.price-page__bg {
  position: absolute;
  z-index: 0;
}

.price-page__bg--1 {
  top: -50px;
  left: 250px;
}

.price-page__bg--2 {
  bottom: -200px;
  right: 0;

}

.price-page__bg--3 {
  bottom: -50px;
  z-index: 3;
}

.price-page__bg--4 {
  top: -50px;
  z-index: 3;
}