.main-page {
    background-color: $bg-light;
    padding: 55px 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include lowHeightDisplayNone;
}

.main-page__wrapper {
    padding: 0 0 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
}

.main-page__logo {
    position: relative;
}
.main-page__next-page {
    width: 100%;
    max-width: 500px;
    height: 35px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 25px;
}
.main-page__bg {
    position: absolute;
    pointer-events: none;
}

.main-page__bg--1 {
    bottom: -50%;
    height: 300px;
    left: -32px;
    z-index: 2;
    pointer-events: none;
}

.main-page__bg--2 {
    height: 200px;
    right: -45%;
    top: -54%;
    z-index: 2;
    pointer-events: none;
}

.main-page__bg--3 {
    top: -227px;
    right: -177px;
    pointer-events: none;
    animation: move 21s linear infinite 1s , appear 3s ease .2s backwards;
    z-index: 1;
}

.main-page__bg--4 {
    bottom: -83%;
    left: -76%;
    width: 450px;
    height: 491px;
    animation: move 33s linear infinite  1s,  appear 3s ease .3s backwards;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        bottom: -165%;
        left: -154%;
    }
}

.logo {
    margin: 10px 0 60px 0;
    position: relative;
    z-index: 5;
    width: 246px;
    height: 263px;
    animation: appear 1s ease 1s backwards;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        width: 200px;
        height: 210px;
        margin: 10px 0 20px 0;
    }
}
.main-page__btn {
    width: 245px;
    height: 46px;
    animation: appear 1s ease 1.5s backwards;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        width: 225px;
        height: 36px;
    }
}
.svg-animated {
    stroke-dasharray: 550;
    stroke-dashoffset: 1100;
    animation: dash 28s ease-in-out infinite 2s backwards;
}
.svg-animated2 {
    stroke-dasharray: 850;
    stroke-dashoffset: 1680;
    animation: dash2 41s linear infinite backwards 3s;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1100;
        stroke: #ffe2e2;
    }
    5% {
        stroke-dashoffset: 550;
        stroke: #ffe2e2;
    }

    10% {
        stroke-dashoffset: 0;
        stroke: #ffe2e2;
    }
    15% {
        stroke-dashoffset: 0;
        stroke: #ffe2e2;
    }
    20% {
        stroke-dashoffset: 550;
        stroke: #ffe2e2;
    }
    25% {
        stroke-dashoffset: 550;
        stroke: #ffe2e2;
    }
    30% {
        stroke-dashoffset: 1650;
        stroke: #ffe2e2;
    }
    60% {
        stroke-dashoffset: 2200;
        stroke: #ffbcbc;
    }
    65% {
        stroke-dashoffset: 2200;
        stroke: #ffbcbc;
    }
    75% {
        stroke-dashoffset: 1650;
        stroke: #ffbcbc;
    }
    80% {
        stroke-dashoffset: 1650;
        stroke: #ffbcbc;
    }
    85% {
        stroke-dashoffset: 1100;
        stroke: #ffe2e2;
    }
    95%{
        stroke-dashoffset: 550;
        stroke: #ffe2e2;
    }
    100% {
        stroke-dashoffset: 1100;
        stroke: #ffe2e2;
    }
}

@keyframes dash2 {
   
   
    0% {
        stroke-dashoffset: 1680;
        stroke: $dark;
    }
    5% {
        stroke-dashoffset: 840;
        stroke: $dark;
    }
    7% {
        stroke-dashoffset: 0;
        stroke: $bg-semi-light;
    }
    9% {
        stroke-dashoffset: 0;
        stroke: $bg-semi-light;
    }
    11% {
        stroke-dashoffset: 850;
        stroke: #f5e8c7;
    }
    13% {
        stroke-dashoffset: 1710;
        stroke: #f5e8c7;
    }
    
    15% {
        stroke-dashoffset: 2510;
        stroke: #deba9d;
    }
    60% {
        stroke-dashoffset: 1710;
        stroke: #f9f9f9;
    }
    65% {
        stroke-dashoffset: 1710;
        stroke: #f9f9f9;
    }
    75% {
        stroke-dashoffset: 2510;
        stroke: #ffbcbc;
    }
    80% {
        stroke-dashoffset: 2510;
        stroke: #ffbcbc;
    }
    85% {
        stroke-dashoffset: 1710;
        stroke: #ffbcbc;
    }
    100% {
        stroke-dashoffset: 1680;
        stroke: #f5e8c7;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(25px, 25px) rotate(6deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;


    }
    100% {
        opacity: 1;
    }
}