.main-page {
    background-color: $bg-light;
    padding: 55px 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    @include lowHeightDisplayNone;
}

.main-page__wrapper {
    padding: 0 0 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
}

.main-page__logo {
    position: relative;
}
.main-page__next-page {
    width: 100%;
    max-width: 500px;
    height: 35px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0 25px;
}
.main-page__bg {
    position: absolute;
    pointer-events: none;
}

.main-page__bg--1 {
    bottom: -50%;
    height: 300px;
    left: -32px;
    z-index: 2;
    pointer-events: none;
}

.main-page__bg--2 {
    height: 200px;
    right: -45%;
    top: -54%;
    z-index: 2;
    pointer-events: none;
}

.main-page__bg--3 {
    top: -227px;
    right: -177px;
    pointer-events: none;
    animation: move 21s linear infinite 1s , appear 3s ease .1s backwards;
    will-change: opacity, transform;
    z-index: 1;
}

.main-page__bg--4 {
    bottom: -83%;
    left: -76%;
    width: 450px;
    height: 491px;
    animation: move 33s linear infinite  1s,  appear 3s ease .2s backwards;
    will-change: opacity, transform;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        bottom: -165%;
        left: -154%;
    }
}

.logo {
    margin: 10px 0 60px 0;
    position: relative;
    z-index: 5;
    width: 246px;
    height: 263px;
    animation: appear 1s ease-in .5s backwards;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        width: 200px;
        height: 210px;
        margin: 10px 0 20px 0;
    }
}
.main-page__btn {
    width: 245px;
    animation: appear 1s ease 1.5s backwards;
    @media screen and(max-height: $smallMobileHeightBreakpoint) {
        width: 225px;
        height: 36px;
    }
}


